doctype html
html(lang="ko")

    body
        header#header 
            navbar#navbar
                ul
                    li 1번째
                    li 2번째
                    li 3번째
                    